name: Update flake.lock

on:
  schedule:
    - cron: '0 22 * * 5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Configure Git
      run: |
        git config --global user.email 'action@github.com'
        git config --global user.name 'github-actions'

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Update flake.lock
      run: |
        nix flake update nixpkgs
        nix flake update nixpkgs-unstable
        nix flake update home-manager

    - name: Commit and push flake.lock
      run: |
        git add flake.lock
        git commit -m 'Update flake.lock'
        git push
